body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(181, 187, 190);
}
.container {
    margin: auto;
    width: 50%;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(84, 84, 97), 0 0 5px rgb(81, 81, 89);
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(252, 254, 255);
  }

.result{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;

}
.Error, .neg{
    color: red;
    font-weight: bold;

}
.pos{
    color: green;
    font-weight: bold;

}

#sub{
    color: rgb(244, 248, 255);
    background-color: rgb(27, 101, 138);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;

}
#topic{
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
}

th {
    background-color: rgb(27, 101, 138);
    color: white;
    background-color: rgb(126, 146, 163);
  }
tbody {
    background-color: rgb(252, 254, 255);

}
table{
    border-color: black ;
    margin: 10px;
}